<link rel="apple-touch-icon" sizes="180x180" href="https://s3.amazonaws.com/after-school-assets/apple-touch-icon.png">
<link rel="icon" type="image/png" href="https://s3.amazonaws.com/after-school-assets/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="https://s3.amazonaws.com/after-school-assets/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="https://s3.amazonaws.com/after-school-assets/manifest.json">
<link rel="mask-icon" href="https://s3.amazonaws.com/after-school-assets/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="https://s3.amazonaws.com/after-school-assets/favicon.ico">
<meta name="msapplication-config" content="https://s3.amazonaws.com/after-school-assets/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
