/*
 * Site Overlay
 * Applies semi-opaque overlay to page and centers content horizontally.
 * Primarily used as backdrop for modals.
 */

.site-overlay {
  position: fixed;
  visibility: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.7);
  overflow-y: auto;
  @extend .util--z-index-4;
  @extend .level;
}

.site-overlay__inner {
  @extend .level__inner;
  @extend .util--abs-center-both;
  max-width: 100%;
  max-height: 100%;
}

.site-overlay__content {
  @extend .util--pull-center;
  max-width: ($max-content-width * .6);
  padding-top: ($content-spacing * 2);
  padding-bottom: ($content-spacing * 2);
}

// Applies box shadow to direct child div element
// This element should be be a container of some sort, like a module
.site-overlay__content > div {
  box-shadow: 0 ($content-spacing / 4) ($content-spacing) rgba(0,0,0,0.5);
}
