/*
  Demo Styles: NOT REQUIRED
*/
html,
body {
  margin: 0;
  height: 100%
}

h1,
p {
  margin: 0;
  padding: 0;
}

section {
  text-align: center;
  color: #EFEFEF;
}

.full-screen {
  height: 100%; /* makes panels the entire window height */
}

.full-screen-extra {
  height: 140%;
}

.real-blue {
  background-color: #3883d8;
}
.red {
  background-color: #cf3535;
}
.orange {
  background-color: #ea6300;
}
.large-title {
  font-size: 60px;
}

/*.visible {
  opacity: 1;
  transition: opacity 4s
}

.visible:hover {
  opacity: 0;
}*/

.text-fade-animation {
  transition: opacity 1.5s
}

#anim-trigger1 {

}

.vertical-center {
  padding-top: 20%;
}
/*#animate2 {
  transition: background-color 1s;
}
*/
